#head h1{
    font-family: 'PT Serif', serif;
    font-size: 80px;
    text-decoration: underline;
    font-weight: 100;
}

@media(max-width:540px){
    #head h1{
        font-size: 50px;
    }
}